@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme{
    /* Green  */
    /* --color-primary: #59AC77; */
    /* Mint */
    --color-primary: #1DCD9F;
    /* DArk Mint */
    --color-primarydark: #04bd8c; 
    /* --color-primary: #3c9666;  */
    /* Green  */
    /* --color-primary: #00987e; */
    /* Blue  */
    /* --color-primary: #2196F3; */
}



/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f5f9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1DCD9F;
  border-radius: 10px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: #04bd8c;
}